<section class="container-fluid side-by-side">

  <div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="width: 100%;height: 5vw;">
      <polygon fill="#35445b" points="0,100 100,0 100,100"></polygon>
    </svg>
  </div>
  <div class="row align-items-center py-5 midnight-blue">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
      <div class="copy">
        <h2 class="mb-3">Design Your Token</h2>
        <p>Your brand, your way. Establish your brand online with a custom token names and design. With instant access to hundreds of the best looking token icons and designs get complete control over your token look and feel.</p>
        <a href="javascript:alert('TODO')" class="btn btn-primary" title="">Register</a>
      </div>
    </div>
    <div class="col-12 col-md-6 pr-0 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-token-setup.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-token-setup.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Design Your Token"
           title=""/>
    </div>
  </div>

  <div class="row align-items-center py-5">

    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto order-md-2">
      <div class="copy mr-auto">
        <h2 class="mb-3">Integrate Easily into Any App</h2>
        <p>OST Platform provides all the tools needed to run your blockchain powered economy. Use our robust RESTful APIs and SDKs to integrate advanced blockchain functionality with ease while observing the highest security standards. Our user friendly dashboards help you manage and optimize your Branded Token economies.</p>
        <a href="javascript:alert('TODO')" class="btn btn-primary" title="">Register</a>
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-1 px-0 pl-md-0 pr-md-3 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
         src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily.png"
         data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily.png"
         srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
         alt="OST - Integrate Easily into Any App"
         title=""/>
    </div>

  </div>

</section>

<section class="container container-managedash-elements">
  <div class="row container-powered-containers">
    <div class="col col-lg-10 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="32" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-api-sdk-logo"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">APIs & SDKs</h5>
              </div>
              <p class="my-2">OST Platform provides RESTful APIs and SDKs to help you easily set up and integrate your token economy into your existing app, enabling you to integrate and test Branded Tokens with minimal effort.</p>
            </div>
            <div>
              <a href="https://dev.ost.com/" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>  
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="36" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-guides-logo"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">DEV RESOURCES</h5>
              </div>
              <p class="my-2">OST makes it easy to design and test your blockchain-enabled app with documentation and sample code for Ruby, JavaScript, PHP, and Java as well as framework code for wallets and third-party payment processors.</p>
            </div>
            <div>
              <a href="https://dev.ost.com/docs/sdks_overview.html" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <svg class="d-block" width="141" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kyc-brand-nav-menu"></use>
                </switch>
              </svg>
              <p class="my-2">OST KYC as a service ensures that you are compliant with know your customer regulations.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" class="text-link" title="Read More">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid side-by-side">

  <div class="row">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" fill="#438BAD" style="height: 50px;width: 100%;">
      <polygon points="0,0 100,100 0,100"></polygon>
    </svg>
  </div>

  <div class="row align-items-center py-5 denim-blue">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
      <div class="copy">
        <h2 class="mb-3">Management Dashboard</h2>
        <p>Use our dashboards to launch and manage your own token economy.</p>
        <a href="javascript:alert('TODO')" class="btn btn-primary" title="">Register</a>
      </div>
    </div>
    <div class="col-12 col-md-6 pr-0 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-dashboard.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-dashboard.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Management Dashboard"
           title=""/>
    </div>
  </div>

  <div class="row align-items-center py-5">

    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto order-md-2">
      <div class="copy mr-auto">
        <h2 class="mb-3">Redemption</h2>
        <p>OST Platform provides all the tools needed to run your blockchain-powered economy. Use our robust RESTful APIs and SDKs to integrate advanced blockchain functionality with ease while observing the highest security standards. Our user firendly dashboards help you manage and optimize your Branded Token economies.</p>
        <a href="javascript:alert('TODO')" class="btn btn-primary" title="">Register</a>
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-1 px-0 pl-md-0 pr-md-3 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-redemptions.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-redemptions.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Redemption"
           title=""/>
    </div>

  </div>

</section>