<section class="container-fluid side-by-side">
  <div class="copy d-sm-none text-center pt-5">
    <h2>Design Your Token</h2>
    <p>Name your token (e.g. 'App Coin' or 'Happy Token" ) and customize the ticker symbol, color, and icon.</p>
  </div>
  <div class="row align-items-center py-4 side-by-side">
    <div class="col-12 col-md-6">
      <div class="copy w-50 mx-auto d-none d-sm-block">
        <h2>Design Your Token</h2>
        <p>Your brand, your way. Establish your brand online with a custom token names and design. With instant access to hundreds of the best looking token icons and designs get complete control over your token look and feel.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 p-md-0">
      <div class="image">
        <img class="img-fluid responsively-lazy"
             src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-token-design-image.png"
             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-token-design-image.png"
             srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
             alt="OST - Design Your Token"
             title=""/>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-4 token-planner">
    <div class="col-12 col-md-4 mx-auto order-sm-12">
      <div class="copy">
        <h2 class="text-center text-sm-left">Token Economy Planner</h2>
        <p class="mb-4 text-center text-sm-left">A flexible token planning interface that helps you plan your token economy by answering just a couple questions. Designed to bring clarity to your economy goals as well as to micro-planning.</p>
      </div>
      <div class="media mb-3">
        <img class="mr-3 responsively-lazy"
             src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ostkit-priceoracle@2x.png"
             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ostkit-priceoracle@2x.png"
             srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
             alt="Price Oracle"
             style="width: 100px;" />

        <div class="media-body">
          <h6 class="mt-0">OST Price Oracle</h6>
          <span class="lead-2">Enables you to set transaction prices in fiat and automatically convert them to the Branded Token amount.</span>
        </div>
      </div>
      <div class="media">
        <img class="mr-3 responsively-lazy"
             src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ostkit-pricer@2x.png"
             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ostkit-pricer@2x.png"
             srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
             alt="Pricer" style="width: 100px;" />
        <div class="media-body">
          <h6 class="mt-0">OST Pricer</h6>
          <p class="lead-2">Enables you to collect commmissions & revenue for certain transaction types.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 p-md-0 order-sm-1">
      <div class="image">
        <img class="img-fluid responsively-lazy"
             src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-economy-planner-image-v1.png"
             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-economy-planner-image-v1.png"
             srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
             alt="OST - Economy Planner"/>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-4">
    <div class="col-12 col-md-3 mx-auto">
      <div class="copy">
        <h2 class="text-center text-sm-left">Flexible Transaction Types</h2>
        <p class="mb-4 text-center text-sm-left">Setup various types of transactions such as peer-to-peer payments, company-to-user rewards, and user-to-company purchases.</p>
      </div>
      <ul class="list-unstyled">
        <li class="clearfix">
          <span class="float-left">Airdrop Tokens</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">User-to-User</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Company-to-User</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">User-to-Company</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Create New Types using our API</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 p-md-0">
      <div class="image">
        <img class="img-fluid responsively-lazy"
             src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-transaction-types-image-v1.png"
             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-transaction-types-image-v1.png"
             srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
             alt="OST - Transaction Types" title=""/>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12 mx-auto text-center">
      <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>login" class="btn btn-primary" title="Explore OST KIT⍺">Explore OST KIT⍺</a>
    </div>
  </div>

</section>