<% delete_link = delete_link
   delete_link_end = delete_link_end
%>
<div class="dev-container-box mb-3 p-3">
  <div class="row">
    <div class="col-8">
      <h4>API Key:</h4>
      <p><%= api_key %></p>
    </div>
    <%if expiry_timestamp.present? %>
      <%= delete_link %>
      <div class="col-4">
        <div class="float-right d-inline d-flex align-items-center">
          <span class="mr-2 expiry">Expires on <%= expiry_timestamp %></span>
          <span class="api-delete-btn">
            <svg class="align-middle" style="height: 35px;width: 35px;">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#api-delete-icon"></use>
              </switch>
            </svg>
          </span>
        </div>
      </div>
      <%= delete_link_end %>
    <%end %>
  </div>
  <div>
    <h4>API Secret:</h4>
    <p><%= api_secret %></p>
  </div>
  <div class="error delete-key-error"></div>
</div>