<%
  api_get_key = GlobalConstant::RoutesMap.getApis()[:get_api_keys]
  get_webhook_secrets = GlobalConstant::RoutesMap.getApis()[:get_webhook_secrets]
  delete_webhook_secrets = GlobalConstant::RoutesMap.getApis()[:delete_webhook_secrets]
  api_delete_key = GlobalConstant::RoutesMap.getApis()[:delete_api_key]
  resend_api_key = GlobalConstant::RoutesMap.getApis()[:resend_api_key]
  developer_page_addresses = @presenter_obj.developer_page_addresses
  display_stake_currency_symbol = @presenter_obj.display_stake_currency_symbol
  is_production_main_env = GlobalConstant::Environment.is_main_production?
  developer_addresses_config = [
      {
          "label" => "Account Owner Address:",
          "key_name" => "account_owner_address",
          "description" => "This address is the owner of the Company Token Holder Contract which holds the minted brand tokens. This address was associated with the account during the initial setup."
      },
      {
          "label" => "Company Token Holder Address:",
          "key_name" => "token_holder_address",
          "description" => "The Company Token Holder Contract is a Smart Contract holding your Brand Tokens after minting. This contract allows distributing Brand Tokens to different addresses to support the economy."
      },
      {
          "label" => "Utility Branded Token Address",
          "key_name" => "utility_branded_token_contract",
          "description" => "The Utility Brand Token (UBT) is a representation of the Brand Token on a utility sidechain."
      },
      {
          "label" => "Brand Token Address",
          "key_name" => "branded_token_contract",
          "description" => "This is a contract on the value chain which holds Brand Tokens that are backed by OST at a fixed conversion rate."
      },
      {
          "label" => "#{display_stake_currency_symbol} ERC20 Contract Address",
          "key_name" => "erc20_contract_address",
          "description" => "#{display_stake_currency_symbol} ERC20 token contract address on the value chain."
      },
      {
          "label" => "Company UUID",
          "key_name" => "company_user_id",
          "description" => "Company UUID is a parameter needed to execute transactions between the company and users when using API calls."
      },
      {
          "label" => "Gateway UX Composer Address",
          "key_name" => "gateway_composer_address",
          "description" => "This contract is deployed on the value chain. It optimizes the transactions required to perform the stake and mint process."
      }
  ]
  api_keys = @presenter_obj.api_keys
  webhook_secrets = @presenter_obj.webhook_secrets
  email_already_sent_flag = @presenter_obj.email_already_sent_flag?
%>

<div class="developers-container">
  <div class="container m-5">
    <h3 class=" mt-5 ">
      Developers
    </h3>
    <div class=" mt-5">
      <div class="mb-5">
        <h4 class="mb-3">Get API Keys</h4>
        <p>
          In order to use OST Platform APIs you will have to authenticate your account by including an API signature in every request. Signatures validate the authenticity of the account which interacts with OST Platform and ensures that the message sent has not been tampered with.
          <br/>
          <br/>
          Please make sure to never share your API Secret Key and to keep it private and secure. You can always generate a new set of API keys. Once new keys are generated, you can choose to delete the old keys immediately or allow them to expire in 24 hours.
        </p>
      </div>
      <% if !api_keys%>
        <button type="button" class="btn btn-primary show-keys-btn" <%= email_already_sent_flag ? 'disabled' : ''%> data-submiting="Requesting..." >Show Keys</button>
      <%end%>
      <% if api_keys %>
        <button type="button" class="btn btn-primary generate-key-btn" data-submiting="Creating...">Create New Keys</button>
        <div class="error mt-2 generate-key-error"></div>
        <div class="mb-5 keys-wrapper">
          <% if !is_production_main_env %>
            <div class="api-keys-banner text-center"><span class="banner-text">TEST KEYS</span></div>
          <%end%>
          <% api_keys.each_with_index do |keyObj, index| %>
            <div class="dev-container-box <%= index == 0 ? "" : "mt-3" %> p-3">
              <div class="row">
                <div class="col-8">
                  <h4>API Key</h4>
                  <p><%=keyObj['key']%></p>
                </div>
                <%if keyObj['expiry_timestamp']%>
                  <div class="col-4">
                    <% date = keyObj['expiry_timestamp'] == 0 ? '' : Time.at(keyObj['expiry_timestamp'].to_i).utc%>
                    <% if date.present? %>
                      <div class="float-right d-inline d-flex align-items-center">
                        <span class="mr-2 expiry">Expires on <%= date.strftime("#{date.day.ordinalize} %b %Y")%></span>
                        <span class="api-delete-btn">
                          <svg class="align-middle" style="height: 35px;width: 35px;">
                            <switch>
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#api-delete-icon"></use>
                            </switch>
                          </svg>
                        </span>
                      </div>
                    <%end%>
                  </div>
                <%end %>
              </div>
              <div>
                <h4>API Secret</h4>
                <p><%=keyObj['secret']%></p>
              </div>
              <div class="error delete-key-error"></div>
            </div>
          <%end %>
        </div>
      <%else%>
        <div class="keys-wrapper"></div>
      <%end%>
      <div class="email-sent-wrapper" style="display: <%=email_already_sent_flag && !api_keys ? 'block' : 'none' %>">
        <p class="bg-light rounded display-3 font-weight-bold p-3 mb-1">
          <svg class="align-middle" style="width:25px;height:25px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
            </switch>
          </svg>
          We sent you an email to confirm this request. After confirming, you can see and edit all keys for 15 minutes </p>
        <p class="mb-3">Didn’t receive the email? <span class="resend-btn">Resend it</span></p>
      </div>
    </div>

    <div class=" mt-5">
      <h4 class="mb-3">Get WEBHOOK Secrets</h4>
      <p>
        In order to use OST Platform APIs you will have to authenticate your account by including an API signature in every request. Signatures validate the authenticity of the account which interacts with OST Platform and ensures that the message sent has not been tampered with.
        <br/>
        <br/>
        Please make sure to never share your API Secret Key and to keep it private and secure. You can always generate a new set of API keys. Once new keys are generated, you can choose to delete the old keys immediately or allow them to expire in 24 hours.
      </p>

      <% if webhook_secrets.blank? %>
        <button type="button" class="btn btn-primary mt-3 show-webhook-secret-btn" data-submiting="Fetching..." >Show Secret</button>
      <% elsif webhook_secrets.present? %>
        <button type="button" class="btn btn-primary mt-3 generate-webhook-secret-btn" style="<%= !webhook_secrets['webhook_grace_secret'] ? 'display:block;' : '' %>" data-submiting="Creating...">Create New Secret</button>
        <div class="error mt-2 generate-w-secrets-error"></div>
        <div class="w-secrets-wrapper">
          <div class="my-5">
            <% if !is_production_main_env %>
              <div class="api-keys-banner text-center"><span class="banner-text">TEST KEYS</span></div>
            <% end %>
            <div class="dev-container-box mt-3 p-3">
              <div class="row">
                <div class="col-8">
                  <h4>Webhook Secret</h4>
                  <p><%= webhook_secrets['webhook_secret'] %></p>
                </div>
              </div>
            </div>
            <% if webhook_secrets['webhook_grace_secret'] %>
              <div class="dev-container-box mt-3 p-3">
                <div class="row">
                  <div class="col-8">
                    <h4>Webhook Secret</h4>
                    <p><%= webhook_secrets['webhook_grace_secret'] %></p>
                  </div>
                  <div class="col-4">
                    <% date = webhook_secrets['grace_expiry_at'] == 0 ? '' : Time.at(webhook_secrets['grace_expiry_at'].to_i).utc %>
                    <div class="float-right d-inline d-flex align-items-center">
                      <span class="mr-2 expiry">Expires on <%= date.strftime("#{date.day.ordinalize} %b %Y")%></span>
                      <span class="api-delete-btn">
                        <svg class="align-middle" style="height: 35px;width: 35px;">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#api-delete-icon"></use>
                          </switch>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="w-secrets-wrapper"></div>
      <% end %>
      <div class="email-sent-wrapper" style="display: <%= email_already_sent_flag && !api_keys ? 'block' : 'none' %>">
        <p class="bg-light rounded display-3 font-weight-bold p-3 mb-1">
          <svg class="align-middle" style="width:25px;height:25px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
            </switch>
          </svg>
          We sent you an email to confirm this request. After confirming, you can see and edit all keys for 15 minutes </p>
        <p class="mb-3">Didn’t receive the email? <span class="resend-btn">Resend it</span></p>
      </div>
    </div>

    <div>
      <h4 class="mb-3">Developer Resources</h4>
      <%#= @presenter_obj.formatter_obj.api_keys.to_json %>
      <%#= @presenter_obj.formatter_obj.email_already_sent_flag.to_json %>
      <p>
        The OST Platform provides:
        <span class="d-block my-2">* APIs, SDKs and Development tools for easy integration and deployment.</span>
        <span class="d-block mb-2">* Wallet solution to facilitate end-user adoption.</span>
        We've designed and created guides to help you get familiar with the the platform, giving you a quick and clean approach for getting up and running.
      </p>
      <div class="text-left">
        <a class="d-inline" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/getting_started/introduction/" target="_blank" title="OST Platform - Guides">
          <svg class="icon ios-icon" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#guides-icon"></use>
            </switch>
          </svg>
        </a>

      </div>

    </div>

    <div class=" mt-5">
      <h4 class="mb-3">Wallet SDKs</h4>
      <p>
        The Wallet SDK makes it easy to integrate the full wallet experience inside your app. It consists of authentication, private key management and recovery modules.
      </p>
      <p>
        The quick start guides below will help you get familiar with the requirements and process of integrating the Wallet SDK into your app.
      </p>
      <div class="text-left">
        <a class="d-inline" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/wallet_sdk_setup/iOS" target="_blank" title="OST Platform - iOS Wallet SDK">
          <svg class="icon ios-icon" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ios-icon"></use>
            </switch>
          </svg>
        </a>
        <a class="d-inline ml-3" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/wallet_sdk_setup/android" target="_blank" title="OST Platform - Android Wallet SDK">
          <svg class="icon android-icon" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#android-icon"></use>
            </switch>
          </svg>
        </a>
      </div>

    </div>

    <div class=" mt-5">
      <h4 class="mb-3">
        Server Side SDKs
      </h4>
      <p>
        A number of platform-specific SDKs are available to integrate OST APIs into your apps. Server Side SDKs provide a safe and secure way to quickly implement token economy within your app.
      </p>
      <p>
        The quick start guides below will help you get quickly started with integrating the Server side SDK into your app.
      </p>
      <div class="text-left">
        <a class="d-inline-block" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/server_sdk_setup/php" target="_blank" title="OST Platform - PHP">
          <svg class="icon developer_php_logo" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#developer_php_logo"></use>
            </switch>
          </svg>
        </a>
        <a class="d-inline-block ml-3" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/server_sdk_setup/ruby" target="_blank" title="OST Platform - Ruby">
          <svg class="icon developer_ruby_logo" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#developer_ruby_logo"></use>
            </switch>
          </svg>
        </a>
        <a class="d-inline-block ml-3" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/server_sdk_setup/java" target="_blank" title="OST Platform - Java">
          <svg class="icon developer_ruby_logo" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#developer_java_logo"></use>
            </switch>
          </svg>
        </a>
        <a class="d-inline-block ml-3" href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>platform/docs/sdk/server_sdk_setup/nodejs" target="_blank" title="OST Platform - Node">
          <svg class="icon developer_ruby_logo" style="height: 60px;width: 150px;">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#developer_node_js_logo"></use>
            </switch>
          </svg>
        </a>
      </div>
    </div>
    <div class="mt-5">
      <h4>
        Your Brand Economy Addresses
      </h4>
      <p>
        The OST Platform is built on OpenST Protocol for deploying Brand Token economies. The OpenST Protocol is a framework consisting of Smart Contracts.
        <br/>
        This section lists out some of the addresses used in the OpenST Protocol framework that will be useful to run and monitor your economy.
      </p>
      <% developer_addresses_config.each do |address| %>
        <% if developer_page_addresses && developer_page_addresses.data[address['key_name']] %>
          <div class="dev-container-box p-3 px-4 mb-3">
            <h4>
              <%= address['label'] %>
            </h4>
            <p class="my-1">
              <%= developer_page_addresses.data[address['key_name']] %>
            </p>
            <p>
              <%= address['description']%>
            </p>
          </div>
        <% end%>
      <%end %>
    </div>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    ost.developer.init({
      'api_get_key' : "<%= api_get_key %>",
      'api_delete_key' : "<%= api_delete_key %>",
      'resend_api_key' : "<%= resend_api_key %>",
      'get_webhook_secrets': "<%= get_webhook_secrets %>",
      'delete_webhook_secret': "<%= delete_webhook_secrets %>"
    });

    Handlebars.registerHelper('prettifyDate',function( timestamp ){
      return moment(timestamp*1000).format('Do MMM YYYY');
    });

  </script>

  <script type="text/x-handlebars-template" id="api-info">
    <div class="my-5">
      <div class="api-keys-banner text-center"><span class="banner-text">TEST KEYS</span></div>
      {{#each keys}}
      <div class="dev-container-box {{#if @index}}mt-3{{/if}} p-3">
        <div class="row">
          <div class="col-8">
            <h4>API Key</h4>
            <p>{{key}}</p>
          </div>
          {{#if expiry_timestamp}}
          <div class="col-4">
            <div class="float-right d-inline d-flex align-items-center">
              <span class="mr-2 expiry">Expires on {{prettifyDate expiry_timestamp}}</span>
              <span class="api-delete-btn">
                  <svg class="align-middle" style="height: 35px;width: 35px;">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#api-delete-icon"></use>
                    </switch>
                  </svg>
                </span>
            </div>
          </div>
          {{/if}}
        </div>
        <div>
          <h4>API Secret</h4>
          <p>{{secret}}</p>
        </div>
        <div class="error delete-key-error"></div>
      </div>
      {{/each}}
    </div>
  </script>


  <script type="text/x-handlebars-template" id="webhook-secrets-info">
    <div class="my-5">
      <div class="api-keys-banner text-center"><span class="banner-text">TEST KEYS</span></div>
      <div class="dev-container-box mt-3 p-3">
        <div class="row">
          <div class="col-8">
            <h4>Webhook Secret</h4>
            <p>{{webhookSecret}}</p>
          </div>
        </div>
      </div>
      {{#if webhookGraceSecret}}
        <div class="dev-container-box mt-3 p-3">
          <div class="row">
            <div class="col-8">
              <h4>Webhook Secret</h4>
              <p>{{webhookGraceSecret}}</p>
            </div>
            <div class="col-4">
              <div class="float-right d-inline d-flex align-items-center">
                <span class="mr-2 expiry">Expires on {{prettifyDate webhookGraceExpiry}}</span>
                <span class="api-delete-btn">
                  <svg class="align-middle" style="height: 35px;width: 35px;">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#api-delete-icon"></use>
                    </switch>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </script>

<% end %>

<% content_for :popups do %>
  <%= render partial: 'shared/web/modals/token_setup_admin_error'%>
<% end %>