<%
  planner_url = GlobalConstant::RoutesMap.getRoutes()[:token_setup]
  mint_token_url = GlobalConstant::RoutesMap.getRoutes()[:token_mint]
  developer_url = GlobalConstant::RoutesMap.getRoutes()[:developer]
  dashboard_url = GlobalConstant::RoutesMap.getRoutes()[:dashboard]
  api_request_whitelist = GlobalConstant::RoutesMap.getApis()[:api_request_whitelist]
  is_whitelisted_user = @presenter_obj.sub_env_payloads.is_mainnet_whitelisted?
  is_mainnet_whitelisting_requested = @presenter_obj.sub_env_payloads.is_mainnet_whitelisting_requested?
  sandbox_sub_url_prefix = GlobalConstant::Environment.sandbox_sub_url_prefix
  main_sub_env_url_prefix = GlobalConstant::Environment.main_sub_env_url_prefix
  current_env  = GlobalConstant::Environment.url_prefix
  sandbox_token_name = @presenter_obj.client_token_name
  sandbox_token_symbol = @presenter_obj.client_token_symbol
  is_super_admin = true #@presenter_obj.is_super_admin?
%>
<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <div class="header-phantom-el-wrapper">
    <%= yield(:phantom_header_el) %>
  </div>

  <div class="switch-mode p-3 <%= (current_env == sandbox_sub_url_prefix) ? 'checked' : 'unchecked' %> <%= is_mainnet_whitelisting_requested && !is_whitelisted_user ? 'disabled' : '' %>">
    <div class="d-flex align-items-center switch-mode-tooltip" data-toggle="tooltip" data-placement="right" data-boundary="window" data-title="The request has been sent. Please wait for the OST Support team to get in touch.">
      <span class="sandbox-title">Sandbox Mode</span>
      <label class="switch ml-auto <%= is_mainnet_whitelisting_requested && !is_whitelisted_user ? 'disabled' : '' %>">
        <input id="switch_mode_checkbox" type="checkbox" <%= (current_env == sandbox_sub_url_prefix) ?'checked' : ''%> >
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <ul class="nav nav-pills flex-column">
    <% if !@presenter_obj.is_client_token_deployed? %>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_token_setup_route? ? 'active': '' %>" href="<%= planner_url %>">
          <svg class="icon">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
            </switch>
          </svg>
          <span class="label">Token Setup</span>
        </a>
      </li>
    <% else  %>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center  <%= @presenter_obj.is_dashboard_route? ? 'active': '' %>" href="<%= dashboard_url %>">
          <svg class="icon">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
            </switch>
          </svg>
          <span class="label">Dashboard</span>
        </a>
      </li>
    <% end %>
    <% if is_super_admin %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_client_token_deployed? ? '' : 'disabled to-enable-on-setup' %> <%= @presenter_obj.is_token_mint_route? ? 'active': '' %> "  href="<%= mint_token_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-supply"></use>
          </switch>
        </svg>
        <span class="label">Mint Tokens</span>
      </a>
    </li>
    <% end  %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= (@presenter_obj.is_client_token_deployed? || @presenter_obj.is_client_token_deploying?) ? '' : 'disabled to-enable-on-setup' %> <%= @presenter_obj.is_developer_route? ? 'active': '' %>"  href="<%= developer_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dev-api"></use>
          </switch>
        </svg>
        <span class="label">Developers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_client_token_deployed? ? '' : 'disabled to-enable-on-setup' %>"  href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" target="_blank">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt-explorer"></use>
          </switch>
        </svg>
        <span class="label">Block Explorer</span>
      </a>
    </li>
  </ul>

</aside>


<% content_for :popups do %>
  <%= render partial: 'shared/web/modals/confirm_mode_change'%>
  <%= render :partial=> 'shared/web/modals/whitelist_user',
      locals: {
      :request_whitelist_api => api_request_whitelist,
      :sandbox_token_name => sandbox_token_name,
      :sandbox_token_symbol => sandbox_token_symbol
      }
  %>
<%end%>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
        ost.leftMenu.init({
          isUserWhitelisted: <%= is_whitelisted_user %>,
          isMainnetWhitelistingRequested: <%=is_mainnet_whitelisting_requested %>,
          currentEnv: "<%= current_env %>",
          redirectMainnet: "<%= GlobalConstant::RoutesMap.getRoutes()[:mainnet_token_setup] %>",
          redirectSandbox: "<%= GlobalConstant::RoutesMap.getRoutes()[:sandbox_token_setup] %>",
          sandboxSubUrlPrefix: "<%= sandbox_sub_url_prefix %>",
          mainSubEnvUrlPrefix: "<%= main_sub_env_url_prefix %>"
        });
    })
  </script>
<% end %>


