<div class="form-group" id="<%=id%>_slider_form_group">
  <% if label.present? %>
    <label class="form-label" for="<%=id%>"><%= raw label%></label>
  <% end %>
  <div class="input-group slider-with-input right d-flex align-items-center mt-4 mb-3 <%= (defined? classes) ? classes : '' %>">
    <input
        type="text"
        id="<%=id%>_slider"
        data-provide="slider"
        data-slider-min="<%=min%>"
        data-slider-max="<%=max%>"
        data-slider-step="<%=step%>"
        data-slider-value="<%=value%>"
        data-slider-tooltip="<%=tooltip%>"
        <% if defined? ticks %>data-slider-ticks="<%=ticks.to_s%>"<% end %>
        <% if defined? ticks_labels %>data-slider-ticks-labels='<%=raw ticks_labels.to_s%>'<% end %>
    >
    <span class="slider-input-right">
      <div class="input-group">
        <% if defined? prefix %>
          <span class="input-group-prepend">
            <span class="input-group-text">
              <%= prefix %></span>
            </span>
        <% end %>
        <input type="<%=type%>" class="form-control" id="<%=id%>" name="<%=name%>" 
          min="<%=min%>" max="<%=max%>" step="<%=step%>" value="<%=value%>" 
        />
        <% if defined? postfix %>
          <span class="input-group-append">
            <span class="input-group-text">
              <%= postfix %></span>
            </span>
        <% end %>
      </div>
    </span>
  </div>
  <div class="d-flex align-items-center" style="margin-top: -20px; font-size: 12px;">
    <div style="flex-grow: 1; max-width: 100%; color: #597a84">
      <span class="text-left"><%= (defined? prefix) ? prefix : '' %> <%=min%> <%= (defined? suffix) ? suffix : '' %></span>
      <span class="text-right float-right"><%= (defined? prefix) ? prefix : '' %> 
        <%= number_with_delimiter(max, :delimiter => ',') %>
        <%= (defined? suffix) ? suffix : '' %>
      </span>
    </div>
    <div class="slider-input-right"></div>
  </div>
  <div class="invalid-feedback" data-forname="<%=name%>">&nbsp;</div>
</div>