<%
  api_list_admins = GlobalConstant::RoutesMap.getApis()[:api_list_admins]
  dashboard_url = GlobalConstant::RoutesMap.getRoutes()[:token_dashboard]
%>

<div class="container mt-6 mb-5">
  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div class="d-flex align-items-center">
          <a href="<%= dashboard_url %>" style="font-size: 0" class="team-home-icon">
            <svg>
              <switch>
                <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#team-home-icon"></use>
              </switch>
            </svg>
          </a>
          <h3 class="mb-0 team-home-border d-flex align-items-center">Your Team</h3>
        </div>
        <% if @presenter_obj.is_super_admin? %>
          <button id="invite_new_member_btn" class="btn btn-gold float-right">Invite Team Member</button>
        <%end%>
      </div>
    </div>
  </div>

  <div class="transactions mb-1">
    <div class="row header">
      <div class="col-4">EMAIL ADDRESS</div>
      <div class="col-4">NAME</div>
      <div class="col-2">STATUS</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 slider-parent-container" data-slider-content-wrapper=".ost-table-row">
      <div id="team_list" class="transactions" data-simple-table data-url="<%=api_list_admins %>" >
        <%= render :partial => "/web/user_setting/team/team_row" %>
      </div>
    </div>
  </div>
</div>



<% content_for :popups do %>
  <%= render :partial => "/web/user_setting/team/confirm_modals" %>
<%end%>

<% content_for :end_js do %>
  <script type="text/javascript">
     ost.team.init(
       <%= raw @presenter_obj.formatter_obj.client_manager.to_json %>
     );
  </script>
<% end %>