<%
  bt_symbol = @presenter_obj.client_token_symbol
  activate_test_economy_api_route =  GlobalConstant::RoutesMap.getApis()[:api_activate_test_economy]
  api_invite_to_test_economy = GlobalConstant::RoutesMap.getApis()[:api_invite_to_test_economy]
  has_setup_test_economy = @presenter_obj.client.has_setup_test_economy?
  qr_code_url = @presenter_obj.test_economy_details.qr_code_url
  ios_app_download_link = @presenter_obj.test_economy_details.ios_app_download_link
  android_app_download_link = @presenter_obj.test_economy_details.android_app_download_link
%>

<div class="test-economy-container mb-6">

  <h3 class="text-center mt-5"> Test Your <%=bt_symbol%> Token Economy </h3>

  <div class="test-economy-post-setup" style="display: <%= has_setup_test_economy ? 'block': 'none'%>">
    <div class="row mt-5">
      <div class="col-9 shadow-box mx-auto p-4">
        <svg class="success-icon align-middle d-inline" style="width: 34px; height: 34px">
          <switch>
            <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
          </switch>
        </svg>
        <p class="mb-0 font-weight-light text-muted d-inline align-middle ml-2">Your Test Economy backend has been successfully setup.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-9 mx-auto shadow-box px-0">
        <div class="card">
          <h3 class="card-header">Get Demo App</h3>
          <div class="card-body">
            <p class="font-weight-light text-muted">Token Name is a way to set a unique identy for your token. Token symbol is broadly equivalent to a stock ticker, that helps identify the token..</p>
            <div class="my-4">
              <a href="<%= ios_app_download_link %>" target="_blank" class="btn btn-secondary">download(ios)</a>
              <a href="<%= android_app_download_link %>" target="_blank" class="btn btn-secondary ml-3">download(Android)</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-9 mx-auto shadow-box px-0 mt-5 mb-6">
      <div class="card">
        <h3 class="card-header">Setup economy</h3>
        <div class="card-body">
          <p class="font-weight-light text-muted"> Scan and Join the LGBT Economy from demo app. Scan and Join the LGBT Economy from demo app.  Scan and Join the LGBT Economy from demo app</p>
          <button type="button" id="get-qr-code-btn" class="btn btn-primary">
            GET QR CODE
          </button>
          <div class="qr-code-section" style="display:none;">
            <img class="qr-code col-2" src="<%=qr_code_url%>">
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 mx-auto shadow-box px-0 mb-6">
      <div class="card">
        <h3 class="card-header">Invite Users</h3>
        <div class="card-body">
          <p class="font-weight-light text-muted">Token Name is a way to set a unique identy for your token. Token symbol is broadly equivalent to a stock ticker, that helps identify the token..</p>
          <button type="button" id="invite-users-btn" class="btn btn-primary">
            INVITE USERS
          </button>
          <div class="send-invite-section" style="display:none;">
            <div class="row">
              <div class="col-7">
                <form id="invite-economy-form" data-submiting="Sending…" action="<%= api_invite_to_test_economy %>" method="POST">
                  <div class="form-group">
                    <label for="user_email" class="form-label text-uppercase">Email Address</label>
                    <input type="email" class="form-control" id="email_addresses" name="email_addresses"
                           placeholder="Email Addresses separated by commas" required/>
                    <div class="invalid-feedback" data-forid="email_addresses">&nbsp;</div>
                    <button type="submit" id="send-invite-btn" class="btn btn-primary mt-2">
                      SEND INVITES
                    </button>
                  </div>
                  <div class="general_error invalid-feedback" data-forid="invite-economy-form">&nbsp;</div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="test-economy-pre-setup mt-5" style="display: <%= !has_setup_test_economy ? 'block': 'none'%>">
      <div class="row">
        <div class="col-9 mx-auto shadow-box px-0">
          <form id="launch-setup-form" action="<%= activate_test_economy_api_route %>" method="POST">
            <div class="card shadow-box">
              <h3 class="card-header">Setup economy</h3>
              <div class="card-body">
                <p class="font-weight-light text-muted">Token Name is a way to set a unique identy for your token. Token symbol is broadly equivalent to a stock ticker, that helps identify the token..</p>
                <button type="submit" id="launch-test-economy" data-submiting="Setting up.." class="btn btn-primary">
                  Launch  setup
                </button>
                <div class="invalid-feedback" data-forid="launch-test-economy">&nbsp;</div>
                <div class="general_error invalid-feedback"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.test_economy.init();
    });
  </script>
<% end %>


<% content_for :popups do %>
  <%= render partial: 'web/test_economy/invite_success_modal' %>
<%end%>