<%
  bt_symbol = @presenter_obj.client_token_symbol
  activate_test_economy_api_route =  GlobalConstant::RoutesMap.getApis()[:api_activate_test_economy]
  api_invite_to_test_economy = GlobalConstant::RoutesMap.getApis()[:api_invite_to_test_economy]
  has_setup_test_economy = @presenter_obj.client.has_setup_test_economy?
  qr_code_url = @presenter_obj.test_economy_details.qr_code_url
  ios_app_download_link = @presenter_obj.test_economy_details.ios_app_download_link
  android_app_download_link = @presenter_obj.test_economy_details.android_app_download_link
%>

<div class="test-economy-container mb-6">

  <h3 class="text-center mt-5"> Demo Integration </h3>

  <div class="row">
    <div class="col-9 mx-auto px-3 mt-3 font-weight-light text-muted text-center">
      <p>Integrating OST Platform into your existing application can take up to 2-4 weeks. To see what’s possible, connect your <%=bt_symbol%> Tokens to our Demo App. This will allow you to run simple transactions before embarking on a full-scale implementation.</p>
    </div>
  </div>

  <div class="test-economy-post-setup" style="display: <%= has_setup_test_economy ? 'block': 'none'%>">
<!--    <div class="row mt-5">-->
<!--      <div class="col-9 shadow-box mx-auto p-4">-->
<!--        <svg class="success-icon align-middle d-inline" style="width: 34px; height: 34px">-->
<!--          <switch>-->
<!--            <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>-->
<!--          </switch>-->
<!--        </svg>-->
<!--        <p class="mb-0 font-weight-light text-muted d-inline align-middle ml-2">The servers for the <%#=bt_symbol%> Test economy have been deployed. </p>-->
<!--      </div>-->
<!--    </div>-->
    <div class="row mt-2">
<!--      <div class="col-9 mx-auto shadow-box px-0">-->
<!--        <div class="card">-->
<!--          <h3 class="card-header">Get Demo App</h3>-->
<!--          <div class="card-body">-->
<!--            <p class="font-weight-light text-muted">Download an application via the <b>Apple Enterprise program</b> or <b>Android App URL</b>.Of course, your own application is more likely to be accessed via the respective App Stores.-->
<!--              Using the application, you will be able to create a wallet and receive and send Brand Tokens to other users in the Brand Token economy.-->
<!--            </p>-->
<!--            <div class="my-4">-->
<!--              <a class="d-inline" href="<%#= ios_app_download_link %>" target="_blank" title="Download ios App">-->
<!--                <svg class="icon ios-test-economy-icon" style="height: 60px;width: 150px;">-->
<!--                  <switch>-->
<!--                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ios-test-economy-icon"></use>-->
<!--                  </switch>-->
<!--                </svg>-->
<!--              </a>-->
<!--              <a class="d-inline ml-3" href="<%#= android_app_download_link %>" target="_blank" title="Download android App">-->
<!--                <svg class="icon android-test-economy-icon" style="height: 60px;width: 150px;">-->
<!--                  <switch>-->
<!--                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#android-test-economy-icon"></use>-->
<!--                  </switch>-->
<!--                </svg>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-9 mx-auto shadow-box px-0 mt-5 mb-6">-->
<!--        <div class="card">-->
<!--          <h3 class="card-header">Connect App to <%#=bt_symbol%> economy</h3>-->
<!--          <div class="card-body">-->
<!--            <p class="font-weight-light get-qr-code-before-text text-muted" > To connect the servers we've setup in Step 1 to the mobile application, scan a QR code.-->
<!--              Since in your implementation, you control both the servers and the application, this step will not be required.</p>-->
<!--            <button type="button" id="get-qr-code-btn" class="btn btn-primary">-->
<!--              GET QR CODE-->
<!--            </button>-->
<!--            <div class="qr-code-section" style="display:none;">-->
<!--              <img class="qr-code" src="<%#=qr_code_url%>">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-9 mx-auto shadow-box px-0 mb-6">
        <div class="card">
          <h3 class="card-header">Send App Invites</h3>
          <div class="card-body">
            <p class="font-weight-light text-muted">Lets get the party started! Add your e-mail and your co-workers e-mail to check out the Test App so you can sync, barinstorm and be on your way to integrating in no time!</p>
<!--            <button type="button" id="invite-users-btn" class="btn btn-primary">-->
<!--              INVITE USERS-->
<!--            </button>-->
            <div class="send-invite-section">
              <div class="row">
                <div class="col-7">
                  <form id="invite-economy-form" class="user-form" data-submiting="Sending…" action="<%= api_invite_to_test_economy %>" method="POST">
                    <div class="form-group">
                      <label for="user_email" class="form-label text-uppercase">Email Address</label>
                      <input type="text" pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$"
                             title="Email"
                             data-msg-pattern="Email is invalid."
                             class="form-control" id="email_addresses" name="email_addresses"
                             placeholder="Email Addresses separated by commas" required/>
                      <div class="invalid-feedback" data-forid="email_addresses">&nbsp;</div>
                      <button type="submit" data-submiting="sending.." id="send-invite-btn" class="btn btn-primary mt-2">
                        SEND INVITE
                      </button>
                    </div>
                    <div class="general_error invalid-feedback" data-forid="invite-economy-form">&nbsp;</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-economy-pre-setup mt-2" style="display: <%= !has_setup_test_economy ? 'block': 'none'%>">
    <div class="row">
      <div class="col-9 mx-auto shadow-box px-0">
        <form id="launch-setup-form" action="<%= activate_test_economy_api_route %>" method="POST">
          <div class="card">
            <h3 class="card-header">Setup economy</h3>
            <div class="card-body">
              <p class="font-weight-light text-muted">This step simulates the server-side integrations with a 1-click UX. During setup, a server that represents the role of your backend systems is deployed.
                This server maintains user-id mappings between the application and the OST Platform, creates and stores passphrases for recovery and sends HMAC authenticated API calls to the OST Platform.</p>
              <button type="submit" id="launch-test-economy" data-submiting="Setting up.." class="btn btn-primary">
                Launch  setup
              </button>
              <div class="invalid-feedback" data-forid="launch-test-economy">&nbsp;</div>
              <div class="general_error invalid-feedback"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.test_economy.init();
    });
  </script>
<% end %>


<% content_for :popups do %>
  <%= render partial: 'web/test_economy/invite_success_modal' %>
<%end%>