<%
  bt_symbol = @presenter_obj.client_token_symbol
  activate_test_economy_api_route =  GlobalConstant::RoutesMap.getApis()[:api_activate_test_economy]
  api_invite_to_test_economy = GlobalConstant::RoutesMap.getApis()[:api_invite_to_test_economy]
  has_setup_test_economy = @presenter_obj.client.has_setup_test_economy?
  qr_code_url = @presenter_obj.test_economy_details.qr_code_url
  manager_email = @presenter_obj.client_manager.email
%>

<div class="test-economy-container mb-6">

  <div class="test-economy-post-setup" style="display: <%= has_setup_test_economy ? 'block': 'none'%>">
    <h3 class="text-center mt-5"> Demo Integration </h3>

    <div class="row">
      <div class="col-9 mx-auto px-3 mt-3 font-weight-light text-muted text-center">
        <p>Integrating OST Platform into your existing application can take up to 2-4 weeks. To see what’s possible, connect your <%=bt_symbol%> Tokens to our Demo App. This will allow you to run simple transactions before embarking on a full-scale implementation.</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-9 mx-auto shadow-box px-0 mb-6">
        <div class="card">
          <h3 class="card-header">Send App Invites</h3>
          <div class="card-body">
            <p class="font-weight-light text-muted">Lets get the party started! Add your e-mail and your co-workers e-mail to check out the Test App so you can sync, barinstorm and be on your way to integrating in no time!</p>
            <div class="send-invite-section">
              <div class="row">
                <div class="col-7">
                  <form id="invite-economy-form" class="user-form" data-submiting="Sending…" action="<%= api_invite_to_test_economy %>" method="POST">
                    <div class="form-group">
                      <label for="user_email" class="form-label text-uppercase">Email Address</label>
                      <input type="text" pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$"
                             title="Email"
                             data-msg-pattern="Email is invalid."
                             class="form-control" id="email_addresses" name="email_addresses"
                             placeholder="Email Addresses separated by commas" required/>
                      <div class="invalid-feedback" data-forid="email_addresses">&nbsp;</div>
                      <button type="submit" data-submiting="sending.." id="send-invite-btn" class="btn btn-primary mt-2">
                        SEND INVITE
                      </button>
                    </div>
                    <div class="general_error invalid-feedback" data-forid="invite-economy-form">&nbsp;</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-economy-pre-setup mt-2" style="display: <%= !has_setup_test_economy ? 'block': 'none'%>">
    <h3 class="text-center mt-5"> Demo Integration </h3>
    <div class="row">
      <div class="col-9 mx-auto px-3 mt-3 font-weight-light text-muted text-center">
        <p>Integrating OST Platform into your existing application can take up to 2-4 weeks. To see what’s possible, connect your <%=bt_symbol%> Tokens to our Demo App. This will allow you to run simple transactions before embarking on a full-scale implementation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-9 mx-auto shadow-box px-0">
        <form id="launch-setup-form" action="<%= activate_test_economy_api_route %>" method="POST">
          <div class="card">
            <h3 class="card-header">Setup economy</h3>
            <div class="card-body">
              <p class="font-weight-light text-muted">This step simulates the server-side integrations with a 1-click UX. During setup, a server that represents the role of your backend systems is deployed.
                This server maintains user-id mappings between the application and the OST Platform, creates and stores passphrases for recovery and sends HMAC authenticated API calls to the OST Platform.</p>
              <button type="submit" id="launch-test-economy" data-submiting="Setting up.." class="btn btn-primary">
                Launch  setup
              </button>
              <div class="invalid-feedback" data-forid="launch-test-economy">&nbsp;</div>
              <div class="general_error invalid-feedback"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="test-economy-setup mt-6" style="display: none">
    <div class="row">
      <div class="col-8 mx-auto px-0 text-center">
        <svg class="mb-3 mt-4" style="height: 60px;width: 62px;">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-icon"></use>
          </switch>
        </svg>
        <h3>Economy Setup Successful!</h3>
        <p class="font-weight-light w-75 mx-auto mt-3 mb-5">Your Brand Token Economy has been successfully integrated with the Demo App. An app invite has been sent to <%= manager_email %>. Invite users to access the mobile application and connect to the economy.</p>
        <a href="javascript:void(0)" class="invite-users-btn btn btn-primary" title="Invite Users">INVITE USERS</a>
      </div>
    </div>
  </div>

</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.test_economy.init();
    });
  </script>
<% end %>


<% content_for :popups do %>
  <%= render partial: 'web/test_economy/invite_success_modal' %>
<%end%>