<%

  partial_locals = {
    :token_name => '',
    :token_symbol => '',
    :token_icon => '',
    :value_chain_id => '',
    :utility_chain_id => '',
    :eligible_grant_value => '',
    :eligible_grant_unit => '',
    :has_registered_address => '',

    :grant_initial_eth => '',
    :should_use_metamask_focet_for_eth => '',
    :should_use_ost_focet_for_eth => '',

    :grant_initial_ost => '',

    :validate_transaction_hash_interval => '',
    :validate_transaction_hash_max_try  => '',
    :simple_token_contract_address => ''
  }
%>

<% content_for :cover_elements do %>
  <div id="installMetamaskCover" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/install_metamask", 
      :locals => partial_locals %>
    </div>
  </div>
  <div id="metamaskLockedCover" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_locked",
      :locals => partial_locals %>
    </div>
  </div>
  <div id="metamaskDisabledCover" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_disabled",
      :locals => partial_locals %>
    </div>
  </div>
  <div id="metamaskWrongNetworkCover" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_wrong_network",
      :locals => partial_locals %>
    </div>
  </div>
  <div id="metamaskWrongAccountCover" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_wrong_account",
      :locals => partial_locals %>
    </div>
  </div>

  <% if GlobalConstant::Base.main_sub_environment? %>
  <% else %>
    <div id="getInitialOstCover" class="cover-element">
      <div class="container">
        <%= render :partial => "/web/economy/token/get_initial_ost", :locals => partial_locals %>
      </div>
    </div>
  <% end %>



  <div id="process_failure_error_cover" class="cover-element">
    <div class="container">
        <%= render :partial => "shared/web/common/process_failure_error_cover" %>
    </div>
  </div>

  <div id="metamaskSignTransaction" class="cover-element">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_sign_transaction" %>
    </div>
  </div>

  <div id="metamaskConfirmAccount" class="cover-element">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_confirm_account" %>
    </div>
  </div>

  <div id="metamaskConnectRequestRejected" class="cover-element">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_connect_request_rejected" %>
    </div>
  </div>

  <div id="metamaskWrongPrimaryAddressCover" class="cover-element">
    <div class="container">
      <%= render :partial => "shared/web/economy/metamask/metamask_wrong_primary_address" %>
    </div>
  </div>

<% end %>

