<%
  dashboard_links = [
      {
        svg: "#invite-team-icon",
        desc: "Invite your team members",
        btn_txt: "invite team".upcase,
        href: GlobalConstant::RoutesMap.getRoutes()[:team] + "?" + get_go_back_url_query_param,
        target: ""
      },
      {
        svg: "#get-api-keys-icon",
        desc: "Integrate OST APIs with your application",
        btn_txt: "get api keys".upcase,
        href: GlobalConstant::RoutesMap.getRoutes()[:developer] + "?" + get_go_back_url_query_param,
        target: ""
      },
      {
        svg: "#ost-guides-icon",
        desc: "Check our guides and tutorials for a quick start",
        btn_txt: "ost guides".upcase,
        href: "javascript:void(0)",
        target: "_blank"
      }
  ]
%>

<div class="container my-6 dashboard">

  <div class="row mb-5">
    <div class="col-12">
      <div class="row">
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total supply</h6>
            <div class="gold">LGBT <%= @presenter_obj.dashboard_details.total_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">circulating supply</h6>
            <div class="gold">LGBT <%= @presenter_obj.dashboard_details.circulating_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.circulating_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">gas spent</h6>
            <div class="gold">OST⍺ <%= @presenter_obj.dashboard_details.total_volume %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_volume_dollar %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card card-planner">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <h3 class="mb-3">Welcome to OST KIT</h3>
              <ul class="list-unstyled m-0">
                <li class="list-items">
                  <svg style="width: 20px;height: 20px;">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#complete-kyc-icon"></use>
                    </switch>
                  </svg>
                  <span class="display-3 ml-2">Complete KYC | Enable production Mode</span>
                  <button class="btn btn-secondary ml-auto" id="dashboard-complete-kyc" title="Complete KYC">complete kyc</button>
                </li>
                <% dashboard_links.each_with_index do|data, index| %>
                  <li class="list-items">
                    <svg style="width: 20px;height: 20px;">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<%= data[:svg] %>"></use>
                      </switch>
                    </svg>
                    <span class="display-3 ml-2"><%= data[:desc] %></span>
                    <a href="<%= data[:href] %>" class="btn btn-secondary ml-auto" title="<%= data[:btn_txt] %>" target="<%= data[:target] %>"><%= data[:btn_txt] %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-5">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-dashboard-hero-illustration@2x.png" class="img-fluid" alt="OST KIT">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="text-center d-flex align-items-center embed-responsive embed-responsive-16by9">
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-dashboard-coming-soon.png" class="img-fluid w-100 embed-responsive-item" alt="Dashboard Economic Indicators Coming Soon">
        <div class="position-absolute">
          <h2 class="font-weight-bold">Coming soon!<br/> Economic Indicators</h2>
          <p class="mb-0 mx-auto display-3 col-7 coming-soon-desc">Economic indicators give deep insights into your token economy. You will have access to data points like ‘No of Transaction Performed Vs OST spent’ No of Transactions By Type, Name , Tags amongst others.</p>
        </div>
      </div>
    </div>
  </div>

</div>