<div class="container my-6 dashboard">
  <div class="row mb-5">
    <div class="col-12">
      <div class="row">
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total supply</h6>
            <div class="gold"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.total_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">circulating supply</h6>
            <div class="gold"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.circulating_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.circulating_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total volume</h6>
            <div class="gold"><%= ost_currency_symbol %>&nbsp;<%= @presenter_obj.dashboard_details.total_volume %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_volume_dollar %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row transactions_and_ost_volume">
    <div class="col-12">
      <h3 class="mb-3">Economic Indicators </h3>
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions vs. OST Volume</div>
        <!--          <div class="p-2 interval partition" data-interval="hour">1 H</div>-->
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class="graph-container" id="comboChart"></div>
    </div>
  </div>

  <div class="row transaction_by_type">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Type</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class="" id="tx_by_type">
        <div class="row">
          <div class="col-9 graph-container my-auto" id="lineChart"></div>
          <div class="col-3 graph-container pie-chart-container my-5">
            <div class="mx-auto">
              <div class="position-relative">
                <div id="pieChart"></div>
                <div class="total-transactions">
                  <span>Total</span><br/>
                  <span class="total-transactions-value"></span>
                </div>
              </div>
              <div class="pieChartLegend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row transaction_by_name">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Name</div>
        <div class="p-2 interval partition date-container">Date</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class=" graph-container" id="transactionByNameChart"></div>
    </div>
  </div>
  <div id="transactionsAnsOstVolumeNodataHTML" style="display: none;">
    <div class="py-5 row w-100">
      <div class="col-12">
        <svg class="transactions-and-ost-volume-no-data nodata">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transactions-and-ost-volume-no-data"></use>
          </switch>
        </svg>
      </div>
    </div>
  </div>

  <div id="transactionByNameNodataHTML" style="display: none;">
    <div class="py-5 row w-100">
      <div class="col-12">
        <svg class="transaction-by-name-no-data nodata">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transaction-by-name-no-data"></use>
          </switch>
        </svg>
      </div>
    </div>
  </div>

  <div id="transactionByTypeNodataHTML" style="display: none;">
    <div class="py-5 row w-100">
      <div class="col-12">
        <svg class="transaction-by-type-no-data nodata">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transaction-by-type-no-data"></use>
          </switch>
        </svg>
      </div>
    </div>
  </div>
</div>
<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.dashboard.init({
        transactions_and_ost_volume_url: "/combo_dummy.json",
        transaction_by_type_url: "/line_dummy.json",
        transaction_by_name_url: "/columnChartDummy.json"
      });
    });
  </script>
  <script type="text/x-handlebars-template" id="ostTransactionsPieChart">
    {{#each data}}
    <div class="row m-3 ">
      <div class="col-9 text-wrap">{{label}}</div>
      <div class="col-3 mb-1 my-auto">
        <span class="color-bar {{class}} ml-auto mr-2"></span>
        <span>{{value}}</span>
      </div>
    </div>
    {{/each}}
  </script>
<% end %>

