<%
  graph_urls = @presenter_obj.graph_urls.data
  column_chart_url = graph_urls['total_tx']
  tx_by_type_url = graph_urls['tx_by_type']
  tx_by_name_url = graph_urls['tx_by_name']
%>
<div class="container my-6 dashboard">
  <div class="row mb-5">
    <div class="col-12">
      <div class="row">
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total supply</h6>
            <div class="gold"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.total_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">circulating supply</h6>
            <div class="gold"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.circulating_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.circulating_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total volume</h6>
            <div class="gold"><%= ost_currency_symbol %>&nbsp;<%= @presenter_obj.dashboard_details.total_volume %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_volume_dollar %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row transactions_and_ost_volume my-6">
    <div class="col-12">
      <h3 class="mb-3">Economic Indicators </h3>
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions vs. OST Volume</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class="graph-container" id="comboChart"></div>
    </div>
  </div>

  <div class="row transaction_by_type my-6">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Type</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div id="tx_by_type">
        <div class="row my-3">
          <div class="ml-3 typeChartSubHeading"> Number of Transactions </div>
          <div class="ml-auto d-flex flex-row mr-3 typeChartLengend">

            <div class="color-box-yellow mr-2 ml-4 my-auto"></div>
            <div> User to User </div>


            <div class="color-box-red mr-2 ml-4 my-auto"></div>
            <div> Company to User </div>


            <div class="color-box-blue mr-2 ml-4 my-auto"></div>
            <div> User to Company </div>

          </div>
        </div>
        <div class="row">
          <div class="col-9 graph-container pr-0" id="lineChart"></div>
          <div class="col-3 graph-container pie-chart-container">
            <div class="text-center" id="noVolumeHTML" style="display:none;">
              Insignificant volume to display
            </div>
            <div class="mx-auto" class="pie-chart-wrapper">
              <div class="text-center my-2 typeChartSubHeading">
                Volume of Transactions
              </div>
              <div class="position-relative">
                <div id="pieChart"></div>
                <div class="total-transactions">
                  <span>Total</span><br/>
                  <span class="total-transactions-value"></span>
                </div>
              </div>
              <div class="pieChartLegend typeChartLengend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row transaction_by_name my-6">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Name</div>
        <div class="p-2 partition date-container"></div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class=" graph-container" id="transactionByNameChart"></div>
    </div>
  </div>

  <div id="transactionsAnsOstVolumeNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transactions-ost-volume" >The graph will start populating once you
      have transactions in your economy</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-ost-volume-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByTypeNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-type" >The graph will start populating once transactions
      you have associated type with are executed</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-type-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByNameNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-name" >The graph will start populating once transactions
      you have associated name with are executed</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-name-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionsAnsOstVolumeErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transactions-ost-volume">Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-ost-volume-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByTypeErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-type">Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-type-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByNameErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-name" >Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-name-1.png" class="d-block mx-auto w-100" />
  </div>

</div>
<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.dashboard.init({
        transactions_and_ost_volume_url: <%= raw column_chart_url.to_json() %>,
        transaction_by_type_url: <%= raw tx_by_type_url.to_json() %>,
        transaction_by_name_url: <%= raw tx_by_name_url.to_json() %>
      });
    });
  </script>
  <script type="text/x-handlebars-template" id="ostTransactionsPieChart">
    {{#each data}}
    <div class="row m-3 ">
      <div class="col-9 text-wrap">{{label}}</div>
      <div class="col-3 mb-1 my-auto">
        <span class="color-bar {{class}} ml-auto mr-2"></span>
        <span>{{value}}</span>
      </div>
    </div>
    {{/each}}
  </script>
<% end %>

