<%
  dashboard_links = [
      {
        svg: "#invite-team-icon",
        desc: "Invite team members to the OST Platform",
        btn_txt: "invite team".upcase,
        href: GlobalConstant::RoutesMap.getRoutes()[:team] + "?" + get_go_back_url_query_param,
        target: ""
      },
      {
        svg: "#get-api-keys-icon",
        desc: "Start integrating with your app",
        btn_txt: "get api keys".upcase,
        href: GlobalConstant::RoutesMap.getRoutes()[:developer] + "?" + get_go_back_url_query_param,
        target: ""
      },
      {
        svg: "#ost-guides-icon",
        desc: "Check out the developer documentation",
        btn_txt: "ost guides".upcase,
        href: "javascript:alert('TODO')",
        target: "_blank"
      }
  ]

  is_whitelisted_user = @presenter_obj.sub_env_payloads.is_mainnet_whitelisted?
  is_mainnet_whitelisting_requested = @presenter_obj.sub_env_payloads.is_mainnet_whitelisting_requested?
%>

<div class="container my-6 dashboard">

  <div class="row mb-5">
    <div class="col-12">
      <div class="row">
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total supply</h6>
            <div class="gold text-uppercase"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.total_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">circulating supply</h6>
            <div class="gold text-uppercase"><%= @presenter_obj.client_token_symbol%>&nbsp;<%= @presenter_obj.dashboard_details.circulating_supply %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.circulating_supply_dollar %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total volume</h6>
            <div class="gold"><%= ost_currency_symbol %>&nbsp;<%= @presenter_obj.dashboard_details.total_volume %></div>
            <div class="gold">$<%= @presenter_obj.dashboard_details.total_volume_dollar %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card card-planner">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <h3 class="mb-4">Welcome to OST Platform</h3>
              <ul class="list-unstyled m-0">
                <% if !is_whitelisted_user %>
                  <li class="list-items">
                    <svg style="width: 20px;height: 20px;">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#complete-kyc-icon"></use>
                      </switch>
                    </svg>

                    <span style="display: <%= is_mainnet_whitelisting_requested ? "block" : "none" %>"
                          class="display-3 ml-2 whitelisting_requested w-100">Request for Production environment access has been sent</span>
                    <div style="display: <%= !is_mainnet_whitelisting_requested ? "flex" : "none" %>"  class="w-100 align-items-center">
                      <span class="display-3 ml-2 whitelisting_not_requested">Production environment request</span>
                      <button class="btn btn-secondary ml-auto" id="dashboard-complete-kyc" title="SEND Request">send request</button>
                    </div>
                  </li>
                <% end %>
                <% dashboard_links.each_with_index do|data, index| %>
                  <li class="list-items">
                    <svg style="width: 20px;height: 20px;">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<%= data[:svg] %>"></use>
                      </switch>
                    </svg>
                    <span class="display-3 ml-2"><%= data[:desc] %></span>
                    <a href="<%= data[:href] %>" class="btn btn-secondary ml-auto" title="<%= data[:btn_txt] %>" target="<%= data[:target] %>"><%= data[:btn_txt] %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-5">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-dashboard-hero-illustration@2x.png" class="img-fluid" alt="OST KIT">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="text-center d-flex align-items-center embed-responsive embed-responsive-16by9">
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-dashboard-coming-soon.png" class="img-fluid w-100 embed-responsive-item" alt="Dashboard Economic Indicators Coming Soon">
        <div class="position-absolute">
          <h2 class="font-weight-bold">Coming soon!<br/> Economic Indicators</h2>
          <p class="mb-0 mx-auto display-3 col-7 coming-soon-desc">Economic indicators give deep insights into your token economy. You will have access to data points like ‘No of Transaction Performed Vs OST spent’ No of Transactions By Type, Name , Tags amongst others.</p>
        </div>
      </div>
    </div>
  </div>

</div>