<%
  graph_urls = @presenter_obj.graph_urls.data
  column_chart_url = graph_urls['total_tx']
  tx_by_type_url = graph_urls['tx_by_type']
  tx_by_name_url = graph_urls['tx_by_name']
  client_token_symbol = @presenter_obj.client_token_symbol
  total_supply = @presenter_obj.dashboard_details.total_supply
  circulating_supply = @presenter_obj.dashboard_details.circulating_supply
  economy_users = @presenter_obj.dashboard_details.economy_users

%>
<div class="container my-6 dashboard">
  <div class="row mb-5">
    <div class="col-12">
      <div class="row">
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">total supply</h6>
            <div class="gold"><%= client_token_symbol %>&nbsp;<%= total_supply %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">circulating supply</h6>
            <div class="gold"><%= client_token_symbol %>&nbsp;<%= circulating_supply %></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="stats-col p-3">
            <h6 class="title">Economy Users</h6>
            <div class="gold"><%= @presenter_obj.dashboard_details.economy_users %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row transactions_and_ost_volume my-6">
    <div class="col-12">
      <h3 class="mb-3">Economic Indicators </h3>
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions vs. <%= @presenter_obj.client_token_symbol%> Volume</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class="graph-container" id="comboChart"></div>
    </div>
  </div>

  <div class="row transaction_by_type my-6">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Type</div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div id="tx_by_type">
        <div class="row my-3">
          <div class="ml-3 typeChartSubHeading"> Number of Transactions </div>
          <div class="ml-auto d-flex flex-row mr-3 typeChartLengend">

            <div class="color-box-yellow mr-2 ml-4 my-auto"></div>
            <div> User to User </div>


            <div class="color-box-red mr-2 ml-4 my-auto"></div>
            <div> Company to User </div>


            <div class="color-box-blue mr-2 ml-4 my-auto"></div>
            <div> User to Company </div>

          </div>
        </div>
        <div class="row">
          <div class="col-9 graph-container pr-0" id="lineChart"></div>
          <div class="col-3 graph-container pie-chart-container p-0">
            <div class="mx-auto" id="noVolumeHTML" style="display:none;">
              Insignificant volume to display
            </div>
            <div class="mx-auto pie-chart-wrapper">
              <div class="text-center my-2 typeChartSubHeading">
                Volume of Transactions
              </div>
              <div class="position-relative">
                <div id="pieChart"></div>
                <div class="total-transactions">
                  <span>Total</span><br/>
                  <span class="total-transactions-value"></span>
                </div>
              </div>
              <div class="pieChartLegend typeChartLengend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row transaction_by_name my-6">
    <div class="col-12">
      <div class="d-flex graph-header">
        <div class="mr-auto p-2">No. of Transactions By Name</div>
        <div class="p-2 partition date-container"></div>
        <div class="p-2 interval active" data-interval="day">1 D</div>
        <div class="p-2 interval" data-interval="week">1 W</div>
        <div class="p-2 interval" data-interval="month">1 M</div>
        <div class="p-2 interval" data-interval="year">1 Y</div>
      </div>
      <div class=" graph-container" id="transactionByNameChart"></div>
    </div>
  </div>

  <div id="transactionsAnsOstVolumeNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transactions-ost-volume" >The graph will start populating once you
      have transactions in your economy</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-ost-volume-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByTypeNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-type" >The graph will start populating once transactions
      you have associated type with are executed</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-type-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByNameNodataHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-name" >The graph will start populating once transactions
      you have associated name with are executed</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-name-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionsAnsOstVolumeErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transactions-ost-volume">Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-ost-volume-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByTypeErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-type">Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-type-1.png" class="d-block mx-auto w-100" />
  </div>

  <div id="transactionByNameErrorHTML" style="display: none;" class="my-6 position-relative">
    <h6 class="text-center info-text transaction-by-name" >Something went wrong!</h6>
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-name-1.png" class="d-block mx-auto w-100" />
  </div>

</div>
<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.dashboard.init({
        transactions_and_ost_volume_url: {"day":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/total-transactions-by-day.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=ad369a3f7c2bc4bff864168707c9d0061d2f86ff237f8afed2bb57080b5296f9","week":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/total-transactions-by-week.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=71ed9b8b773221a680f3a99138ca5d155d166fe0830fadd587f171a988726487","month":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/total-transactions-by-month.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=f92856b8ecd6940a7da468f49fc683feee0f9b315f52c89c4200e6de928cb4cd","year":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/total-transactions-by-year.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=f01df74c13708a55e40c8cca977dcb15fde1724b3713404cf37f5f72ff02e501"},
        transaction_by_type_url: {"day":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-type-by-day.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=f51874ca2aa96f32c92c4508bc1448a50400cfac81716bea9ac7c2c3926c90fb","week":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-type-by-week.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=a2580ddd4f3dc7c7c59f0d7ce12d93c4577e816b74f69e13da06597bf20b2afc","month":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-type-by-month.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=951d2232e7b6294da3b2319eeb6ef0fdae9aa81df3354ad82b041b159a6b4c8e","year":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-type-by-year.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=fb2e9aff9ab573f35ea32058064f8957348dee30b19cd282e9f0581fae1b1b6a"},
        transaction_by_name_url: {"day":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-name-by-day.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=bac62e89353c44732688b22b9ea20feb886bbe6cf5ed86e43f72504c5f24ad02","week":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-name-by-week.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=d354195055800f6779429c3328c9740f6e6f6e80993f7db4c7a0571613e7c88a","month":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-name-by-month.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=fc8c4c6ffbceda730191734c2a98f6c071093b3d89f8cfcadf5e62ac7ff64d43","year":"https://s3.amazonaws.com/graphs.stagingost.com/s6-sandbox/graphs/1287/transactions-by-name-by-year.json?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIG7G5KJ53INDY36A%2F20190405%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190405T111229Z\u0026X-Amz-Expires=7200\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=1feb7bd9086f0aed5c82367ca38a0a4adbd48977a5ba4413123e01d501a623a9"}
      });
    });
  </script>
  <script type="text/x-handlebars-template" id="ostTransactionsPieChart">
    {{#each data}}
    <div class="row my-3 mx-2">
      <div class="col-8 text-wrap p-0">{{label}}</div>
      <div class="col-4 mb-1 my-auto p-0 text-left">
        <span class="color-bar {{class}} ml-auto mr-2"></span>
        <span>{{value}}</span>
      </div>
    </div>
    {{/each}}
  </script>
<% end %>

