<%
    wallet_association =  @presenter_obj.sign_messages.wallet_association
    ost_to_fiat =  @presenter_obj.oracle_price_points.to_fiat_conversion_factor("USD")

    chain_id = GlobalConstant::Chain.origin_chain_id

    addresses_api = GlobalConstant::RoutesMap.getApis()[:api_addresses]
    deployment_api = GlobalConstant::RoutesMap.getApis()[:api_deploy]
    address_generation_api = GlobalConstant::RoutesMap.getApis()[:api_token_setup_address_generation]

    deploy_route = GlobalConstant::RoutesMap.getRoutes()[:token_deploy]

    conversion_factor = @presenter_obj.client_token_conversion_factor || 1
    bt_to_ost_input_name = "conversion_factor"
    bt_to_ost_min = GlobalConstant::ClientToken.bt_to_ost_min
    bt_to_ost_step = GlobalConstant::ClientToken.bt_to_ost_step
    bt_to_ost_max = GlobalConstant::ClientToken.bt_to_ost_max

    ost_to_bt_id = "ost_to_bt_id"

    # stake_currency_symbol would be set only after token has been created on BE
    # TODO: FE to use @presenter_obj.all_stake_currencies to show drop down or to pick a default and remove OST hardcoding below

    stake_currency_symbol = 'OST'
    if @presenter_obj.client_token.present? && @presenter_obj.client_token.stake_currency_id.present?
      stake_currency_symbol = @presenter_obj.stake_currencies.id_obj_map[@presenter_obj.client_token.stake_currency_id].symbol
    end

    is_mainnet = GlobalConstant::Base.main_sub_environment?
    is_metamask_whitelisted_browser = browser_supported_by_metamask?

%>


<% if is_mainnet && !is_metamask_whitelisted_browser %>
  <div class="planner-container text-center mt-6">
    <%= render :partial => "web/economy/token/browser_not_supported"%>
  </div>
<%else%>

  <form data-ost-formhelper id="economy-planner" action="<%=GlobalConstant::RoutesMap.getApis()[:api_token]%>" method="POST"> <!-- #TODO URL -->
    <input type="hidden" name="stake_currency_symbol" value="<%= stake_currency_symbol %>" />

    <div class="planner-container text-center mt-6">

      <% if !is_mainnet %>
        <div class="container">
          <div class="row">
            <div class="card card-planner">
              <div class="card-header text-left brand-curreny-bg border-0">
                <div class="col-8 pr-5 pl-0">
                  <h4 class="mb-2">Deploy Your Brand Currency</h4>
                  <p class="font-weight-light mb-0">
                    The journey of your Brand Token starts in Sandbox mode, where you will be able to safely experiment with a test token holding no real value. Use Sandbox to get familiar with OST Platform functionalities and run the necessary integration tests with your application. Once ready, you can submit a request to the OST team to launch your Brand Token on Production. Test without concern: No data will be transferred between Sandbox and Production.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="container">
        <div class="row my-5">
          <div class="card card-planner">
            <div class="card-header text-left">
              <h4 class="mb-2 ">Token Details</h4>
              <p class="font-weight-light mb-0">
                Choose your Token Name and 3-4 character Identifier. The Identifier acts as a short code for your token, similar to currency codes, such as EUR, GBP, USD, ETH, BTC.
              </p>
            </div>
            <div class="card-body ">
                <div class="user-form row text-left">
                  <div class="form-group mb-2 d-inline-block col-3 mr-4">
                    <label class="form-label" for="token_name">Token Name</label>
                    <input type="text" class="form-control" id="name"
                           value ="<%= @presenter_obj.client_token_name%>"
                           placeholder="Token Name" name="name" title="Token name"
                           minlength="4" maxlength="20" pattern="^[a-zA-Z][a-zA-Z0-9\s]+[a-zA-Z0-9\s]+[a-zA-Z0-9]" required
                           autocomplete="off"  data-msg-pattern="Please enter letters, numbers and spaces only."
                           tabindex="1" />
                    <div class="invalid-feedback" data-forid="name">&nbsp;</div>
                  </div>
                  <div class="form-group mb-2 d-inline-block col-3">
                    <label class="form-label" for="token_symbol">Token Identifier</label>
                    <input type="text" class="form-control text-uppercase" id="symbol"
                           value ="<%= @presenter_obj.client_token_symbol%>" title="Token identifier"
                           placeholder="Token Identifier" name="symbol"
                           minlength="3" maxlength="4" pattern="^[a-zA-Z][a-zA-Z0-9]+" required
                           autocomplete="off" data-msg-pattern="Please enter letters and numbers only."
                           tabindex="1" />
                    <div class="invalid-feedback" data-forid="symbol">&nbsp;</div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row card card-planner my-5">
        <div class="text-left">
          <div class="card-header">
            <h4 class="mb-0 ">Advanced Options</h4>
            <p class="font-weight-light mb-0 mt-2">
              <% if is_mainnet%>
                Set the fixed conversion rate between your Brand Token and the OST Token. Once you click "Proceed" on this page, this fixed conversation rate cannot be edited.
              <% else %>
                Set the fixed conversion rate between your Brand Token and the OST Token. Once you click "Proceed" on this page, this fixed conversation rate cannot be edited. Don't worry though, it's Sandbox -- this is just a test!
              <%end%>
              <span class="header-recommendation font-weight-bold">
              We recommend keeping it simple and setting the conversion rate to 1
              <span class="ost-mocker-value" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
              = 1 OST = $<span class="j-fiat-value"><%= ost_to_fiat %>&nbsp;</span>USD</span>
            </p>
          </div>
            <div class="accordion" id="advance-options-accordion">
              <div class="text-left">
                <div class="" id="advance-options-header">
                  <p class="text-left slider-recommendation m-3 ">
                    We recommend keeping it simple and setting the conversion rate to
                      <span class="conversion-rate">1</span>
                         <b> <span class="ost-mocker-value" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>  =</b>
                      <span class="conversion-rate">1</span>
                         <b> OST =</b>
                      <span class="conversion-rate j-fiat-value">$<%= ost_to_fiat %></span>
                         <b>USD</b>
                      <span class="edit-collapse ml-1" data-toggle="collapse"
                            data-target="#collapsable-element"
                            aria-expanded="true" aria-controls="collapsable-element">EDIT
                      </span>
                  </p>
                </div>
                <div id="collapsable-element" class="collapse"
                     aria-labelledby="advance-options-header" data-parent="#advance-options-accordion">
                  <div class="card-body pt-4 pb-0">
                    <div class="conversion-section user-form">
                      <div class="card-group">
                        <div class="row form-group">
                          <div class="col-4 right-border m-0 card">
                            <label class="form-label mb-2">SET CONVERSION RATE</label>
                            <div class="d-flex align-items-center">
                              <span class="conversion-rate mr-1">1</span> OST
                              <span class="equal-to-sign mx-2 font-weight-bold">=</span>
                              <span class="quantity">
                                <input type="number" min="<%=bt_to_ost_min%>" max="<%= bt_to_ost_max %>"
                                       step="<%= bt_to_ost_step%>" id="<%= ost_to_bt_id %>"
                                       data-msg-min="Please enter a value greater than 0.00001."
                                       data-msg-max="The value entered must be less than or equal to <%= bt_to_ost_max %>"
                                       name="conversion_factor" value="<%= conversion_factor %>" title="Conversion rate value" required>
                              </span>
                              <span class="ost-mocker-value ml-1" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
                            </div>

                          </div>
                          <div class="col-4 right-border m-0 card">
                            <label class="form-label mb-2">AT CURRENT CONVERSION RATE</label>
                            <div class="d-flex align-items-center">
                              <span class="conversion-rate mr-1">1</span> <span class="ost-mocker-value" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
                              <span class="equal-to-sign mx-2 font-weight-bold">=</span> $
                              <span class="ost-mocker-value conversion-rate j-bt-to-fiat-val text-truncate"
                                    data-type="fiat"  data-ost-mock-parser="ost.tokenSetup.btToFiat"> <%= ost_to_fiat %>
                                                </span>
                            </div>
                          </div>
                          <div class="col-4 instruction-text">
                            The conversion rate establishes a fixed rate of exchange between your Brand Token and the OST token.
                          </div>
                          <div class="invalid-feedback ml-3" style="font-size: 12px" data-for="conversion_factor" ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <div class="form-group">
                  <div class="invalid-feedback general_error mb-2" data-for="general_error"></div>
                </div>
                </div>
              </div>
            </div>
          </div>

      <footer>
        <div class="row sticky-footer">
          <div class="container">
            <div class="row">
              <button type="submit" class="btn btn-steps-nav bg-yellow pt-3 pb-3 ml-auto"
                       data-submiting="Proceeding..." id="setup-token-btn" title="Proceed">Proceed &gt;</button>
            </div>
          </div>
        </div>
        <div class="pseudo-footer"></div>
      </footer>
    </div>
  </form>

  <% content_for :popups do %>
    <%= render partial: 'shared/web/modals/token_setup_admin_error'%>
  <% end %>

  <% content_for :cover_elements do %>
    <div id="token-setup-option-cover" class="cover-element">
      <div class="container">
        <%= render :partial => "web/economy/token/token_setup_options"%>
      </div>
    </div>
  <%end%>

  <% content_for :end_js do %>
    <script type="text/javascript">
    //  function awse(val){return val}  //Not sure why it was required
        $( function () {
            ost.tokenSetup.init({

                walletAssociation : "<%= wallet_association%>",
                chainId : '<%= chain_id %>',
                isMainnet: <%= is_mainnet%>,

                addressesEndPoint: '<%= addresses_api%>',
                deploymentEndpoint : '<%=deployment_api %>' ,
                addressGenerationApi: '<%= address_generation_api%>',
                deployRoute : '<%= deploy_route %>',

                ost_to_fiat : '<%= ost_to_fiat %>',
                ost_to_bt : '<%= conversion_factor %>',
                ostToBtId : "<%= ost_to_bt_id %>"
            });
        });
    </script>
  <% end %>


<%end%>
