<%
  chain_id = GlobalConstant::Chain.origin_chain_id
  mint_api =GlobalConstant::RoutesMap.getApis()[:api_mint]
  get_ost_api =GlobalConstant::RoutesMap.getApis()[:api_grant]
  workflow_status_api =GlobalConstant::RoutesMap.getApis()[:api_workflow]
  gateway_composer_api =GlobalConstant::RoutesMap.getApis()[:api_gateway_composer]
  redirect_route = GlobalConstant::RoutesMap.getRoutes()[:token_progress]

  data_config = {
      origin_addresses: @presenter_obj.origin_addresses.data,
      auxiliary_addresses: @presenter_obj.auxiliary_addresses.data,
      contract_details: @presenter_obj.contract_details.data,
      token: @presenter_obj.client_token.data,
      price_points: @presenter_obj.oracle_price_points.data,
      client_manager: @presenter_obj.client_manager.data,
      gas_price: @presenter_obj.gas_price.data,
      workflow: @presenter_obj.workflow.data,
      min_ost_required: @presenter_obj.min_ost_in_wei.data,
      min_eth_required: @presenter_obj.min_eth_in_wei.data
  }

  is_buy_ost = GlobalConstant::Base.main_sub_environment?
  is_workflow = @presenter_obj.workflow.is_present?
  initial_ost_funding = GlobalConstant::StakeAndMint.initial_ost_funding
  bt_to_mint_min = GlobalConstant::StakeAndMint.min_bt_to_mint
  bt_to_mint_step = GlobalConstant::StakeAndMint.step_bt_to_mint
  is_super_admin = @presenter_obj.is_super_admin?
  bt_symbol = @presenter_obj.client_token_symbol;

  #FE specific
  bt_to_mint_name = "bt_to_mint"
  bt_to_mint_id = "bt_to_mint"
  bt_to_mint_value = bt_to_mint_min
  bt_to_mint_max = 1  #Its just a random value as the component needs it, the actual bt to min max will be set after getting the OST balance from metamask.
  staker_address_name = "staker_address"
  staker_address_selector = "[name='#{staker_address_name}']"
  ether_text = "ETH"
%>

<div id="stake-mint-start" class="col-9 mx-auto mt-6 jMintSections" style="display: <%= is_workflow ? "none" : "block" %>">
  <div class="card text-center p-6 card-planner border-0">
    <h3 class="mb-0">Power Your Economy</h3>
    <div class="simulator-image-wrapper my-4">
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-start-minting@2x.png" width="150" class="img-fluid"/>
    </div>
    <div class="token-supply-infotext mb-4 col-5 mx-auto">Mint <%=@presenter_obj.client_token_symbol %> tokens to increase your token supply and power your economy.</div>
    <div class="run-transaction-btn-wrapper">
      <button id="mint-tokens" class="btn btn-gold" data-submiting="Loading...">Mint Tokens</button>
    </div>
  </div>
</div>

<div id="stake-mint-process" class="jMintSections" style="display: none;">
  <form action="<%= gateway_composer_api %>" data-ost-formhelper method="GET" id="stake-mint-confirm-form" >
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto user-form">
          <div class="card card-planner mt-6 mb-5">
            <div class="card-header text-left">
              <h4 class="mb-0">Mint Tokens</h4>
            </div>
            <div class="card-body">
              <div class="row mb-4">
                <%= render :partial => "/web/economy/token/stake_address",
                           :locals => {
                               :name => staker_address_name,
                               :selector => staker_address_selector
                           }
                %>
                <div class="col-6 text-left pl-0">
                  <span class="text-muted font-weight-light">Please make sure the Account Owner Address previously associated with this account is selected in MetaMask.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <%= render partial: 'shared/web/common/slider_top',
                             locals: {
                                 label: "#{bt_symbol} Tokens to mint",
                                 id: bt_to_mint_id,
                                 name: bt_to_mint_name,
                                 type: 'number',
                                 min: bt_to_mint_min,
                                 max: bt_to_mint_max,
                                 step: bt_to_mint_step,
                                 value: bt_to_mint_value,
                                 tooltip: 'hide',
                                 classes: 'slider-primary'
                             }
                    %>
                  <div class="mt-4 mb-2">
                    <%=
                      render partial: 'shared/web/common/mocker',
                             locals: {
                                 :header => "TOKENS VALUE IN USD",
                                 :mock_selector => "#" + bt_to_mint_id,
                                 :mock_parser => "ost.tokenMint.btToFiat",
                                 :mock_type => "ost",
                                 :value_prefix => "$"
                             }
                    %>
                  </div>

                </div>
                <div class="col-8  form-group m-0">
                  <div class="d-flex align-items-center">
                    <div class="p-0 form-group m-0 position-relative">
                      <div id="ostSupplyInAccountPie" class="pie-chat" style="width:200px; height: 200px"></div>
                      <div class="total-ost">
                        <span>Total OST tokens</span><br/>
                        <span class="total-ost-available"></span>
                      </div>
                    </div>
                    <ul class="p-0 m-0">
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply available"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_available_key>OST tokens available after minting</small>
                          <small><span class="ost-mocker-value total-ost-available"
                                       data-type="ost" data-ost-mock-element="#<%= bt_to_mint_id %>"
                                       data-ost-mock-parser="ost.tokenMint.ostAvailableOnBtChange"></span></small>
                        </p>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply staked-minting"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_staked_key>OST tokens used for minting</small>
                          <small class="d-block" data-ost_staked_val>
                                <span class="ost-mocker-value" data-type="ost" data-ost-mock-element="#<%= bt_to_mint_id %>"
                                      data-ost-mock-parser="ost.tokenMint.ostToStakeOnBtChange">
                              </span>
                          </small>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <button type="submit" data-submiting="Proceeding...." class="btn btn-primary d-inline-block">Proceed</button>
          <div class="invalid-feedback general_error">&nbsp;</div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="jMintSections" id="jAddressNotWhitelistedSection" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="card card-planner my-5">
          <div class="card-header text-left">
            <h4 class="mb-0">Mint Tokens</h4>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <%= render :partial => "/web/economy/token/stake_address",
                         :locals => {
                             :name => staker_address_name,
                             :selector => staker_address_selector
                         }
              %>
              <div class="col-6 pl-0">
                <div class="float-left">
                  <svg class="svg mr-2" style="width: 25px;height: 25px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
                    </switch>
                  </svg>
                </div>
                <div style="overflow: auto" class="text-muted font-weight-light">
                  Your selected account is not whitelisted with us. Please try changing the Metamask account.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="jMintSections" id="jInsufficientBalSection" style="display: <%= is_workflow ? "block" : "none" %>">
  <div class="container">
    <form id="get-ost-form" action="<%= get_ost_api %>" method="GET">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="card card-planner my-5">
            <div class="card-header text-left">
              <h4 class="mb-0">Mint Tokens</h4>
            </div>
            <div class="card-body pb-1">
              <div class="row">
                <%= render :partial => "/web/economy/token/stake_address",
                           :locals => {
                               :name => staker_address_name,
                               :selector => staker_address_selector
                           }
                %>
                <div class="col-6 align-self-top d-flex text-left pl-0 jStatusWrapper">
                  <div class="status-message">
                    <svg class="svg float-left mr-2" style="width: 25px;height: 25px">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<%= is_buy_ost ? '#icon-error' : '#icon-fund-wallet' %>"></use>
                      </switch>
                    </svg>
                    <div style="overflow: auto;" class="text-muted font-weight-light">
                        <span class="low-bal ether-text" style="display: none;">
                          Your selected address does not have enough <%= ether_text %>.
                        </span>
                      <span class="low-bal ost-text" style="display: none;">
                          Your selected address does not have enough OST tokens.
                        </span>
                      <span class="low-bal eth-ost-text" style="display: none;">
                          Your selected address does not have enough <%= ether_text %> or OST tokens to Mint Tokens.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <% if is_buy_ost %>
                <a href="https://openst.org/#token"
                   target="_blank"
                   class="btn btn-primary buy-ost-btn" style="display: none;">Buy Ost</a>
              <% else %>
                <div class="card-header p-0"></div>
                <div class="text-muted font-weight-light mt-2 mb-3">
                  Will fund <%=initial_ost_funding%>&nbsp;<%= ost_currency_symbol %> and minimum required <%= ether_text %> in to your selected MetaMask wallet to get you started.</div>
                <button id="get-ost-btn" type="submit" data-submiting="Getting <%= ost_currency_symbol %>..."
                        class="btn btn-primary d-inline-block">Get&nbsp;<%= ost_currency_symbol %>
                </button>
                <span class="jGetOstLoaderText ml-3 text-muted font-weight-light align-middle" style="display: none">
                  <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>
                  <span class="align-middle" style="font-size: 14px">Please wait while we transfer <%= ost_currency_symbol %> and <%= ether_text %> required</span>
                </span>
              <% end %>
              <div class="invalid-feedback general_error mt-2 text-left" style="font-size: 12px">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%= render :partial => "/web/economy/token/token_mint_signs",
           :locals => {
               :bt_to_mint_selector => "#" + bt_to_mint_id
           } %>


<% content_for :popups do %>
  <%= render partial: 'shared/web/modals/token_setup_admin_error' %>
<% end %>

<% content_for :end_js do %>
  <script>
    $(function () {
      var dataConfig = JSON.parse('<%= raw data_config.to_json %>');
      ost.tokenMint.init({
        workFlowStatusApi: "<%= workflow_status_api %>",
        mintApi: "<%= mint_api%>",
        chainId: "<%= chain_id %>",
        redirectRoute: "<%= redirect_route %>",
        dataConfig: dataConfig,
        btToMintId: "<%= bt_to_mint_id %>",
        isSuperAdmin: <%= is_super_admin %>
      });
    });
  </script>
<% end %>